<div class="Header">


  <div class="row">
    <div class="col-xs-4 leftBar"><img align="left" class="logo" src="https://findicons.com/files/icons/45/blend/128/music.png">
    </div>
    <div class="col-xs-8 rightBar">
      <div class="topnav">
        <a routerLink="/login">Login/Signup</a>
      <a routerLink="/about">About</a>
      <a routerLink="/contact">Contact</a>
      <a routerLink="/gallary">Gallary</a>
      <a routerLink="/home">Home</a>
      </div>
    </div>
  </div>

</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<router-outlet></router-outlet>