body {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
}
  
  .topnav {
    overflow: hidden;
    background-color: #ffffff;
    height: 100px;
    font-weight: bold;
  }
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 0.5pt solid silver;
    margin: 1em 0;
    padding: 0; 
}

.logoDiv{

padding: 0px;
margin: 0px;

}
  .topnav a {
    float: right;
    color:midnightblue;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: larger;
    margin-top: 30px;
  }
  
  .topnav a:hover {
    background-color: #ffffff;
    color: orangered;
  }
  
  .topnav a.active {
    background-color: #ffffff;
    color: orangered;
  }


  .logo img {

    height: 50px;
    width:  50px;
    z-index: 1;
    margin-left: 0px;

  }

  .logo  {

    margin-left: 10px;
    margin-top: 0px;

  }

  .Header{
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .row{

margin-right: 0px;

  }

  .leftBar{

    color: #ffffff;
  }

  .rightBar{

    color: #ffffff;
  }

  .middleBar{

    color: #ffffff;
  }

  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    font-size: 18px;
    background-color: tomato;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color:darkred;
    font-size: 18px;
    font-weight: bold;
}

.white{

    color: white;

}

.listItem{

  font-size: 18px;

}

  .backgroundImage {

    margin-top: 5px;
    background-image: url("http://wallpaperpulse.com/img/199975.jpg");
    background-size: 100%;
     width: 100%;
     height: 800px;
     background-position-x: 0px;
     background-position-y: 15px

}



